/* FONTS */
@font-face {
  font-family: Ostrich-reg;
  src: url("../font/ostrich-regular.ttf") format("truetype");
}

@font-face {
  font-family: Ostrich-bold;
  src: url("../font/ostrich-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Ostrich-black;
  src: url("../font/ostrich-black.ttf") format("truetype");
  font-weight: black;
}

@font-face {
  font-family: Roboto-Lt;
  src: url("../font/Roboto-Light.ttf") format("truetype");
  font-weight: regular;
}

/****** COLORS  ******/
/****** GENERAL ******/
/* line 36, ../scss/src/partials/_base.scss */
body {
  position: relative;
}

/* line 37, ../scss/src/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ostrich-black";
}

/* line 38, ../scss/src/partials/_base.scss */
p, input, label, textarea, li {
  font: 17px Roboto-Lt;
}

/* line 39, ../scss/src/partials/_base.scss */
p {
  margin-bottom: 20px;
}

/* line 40, ../scss/src/partials/_base.scss */
h1 {
  font: 50px Ostrich-bold;
  color: #273487;
}

/* line 44, ../scss/src/partials/_base.scss */
a:hover {
  cursor: pointer;
}

/* line 45, ../scss/src/partials/_base.scss */
.clear {
  clear: both;
}

/* line 48, ../scss/src/partials/_base.scss */
.full-width, .normal-width, .small-width, .smallest-width {
  margin-left: auto;
  margin-right: auto;
}

/* line 53, ../scss/src/partials/_base.scss */
.full-width {
  width: 100%;
}

/* line 54, ../scss/src/partials/_base.scss */
.normal-width {
  width: 980px;
}

/* line 55, ../scss/src/partials/_base.scss */
.small-width {
  width: 800px;
}

/* line 56, ../scss/src/partials/_base.scss */
.smallest-width {
  width: 600px;
}

/* line 58, ../scss/src/partials/_base.scss */
.opaque {
  z-index: 0;
  position: absolute;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
}

/* line 68, ../scss/src/partials/_base.scss */
.opaque-text {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
}

/* line 75, ../scss/src/partials/_base.scss */
.content-container {
  padding: 50px 0px;
}

/* line 77, ../scss/src/partials/_base.scss */
.carousel-caption * {
  text-shadow: none;
}

/****** NAVIGARION BAR ******/
/* line 81, ../scss/src/partials/_base.scss */
section.navibar-wrapper {
  position: relative;
  background: url(../img/pattern/light.png);
  background-size: 100px 60px;
  background-repeat: repeat;
  height: 200px;
  padding-top: 10px;
  text-align: center;
}
/* line 90, ../scss/src/partials/_base.scss */
section.navibar-wrapper img#logo {
  margin-top: 1%;
  width: auto;
  height: 100px;
  margin-left: auto;
}
/* line 97, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: white;
  border-top: 3px solid #273487;
  border-bottom: 3px solid #273487;
  margin-bottom: 0px;
}
/* line 107, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li {
  display: inline-block;
  font-family: Montserrat;
  vertical-align: middle;
  margin: 0px 20px;
  font-size: 15px;
  line-height: 45px !important;
  transition: all 0.3s ease 0s;
}
/* line 116, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li a {
  transition: all 0.3s ease 0s;
}
/* line 118, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li a:hover {
  color: #337AB7;
  text-decoration: none;
  border-bottom: 5px solid #808080;
}
/* line 123, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li a.active {
  border-bottom: 5px solid #808080;
}
/* line 127, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.round {
  margin: 0px 10px;
}
/* line 129, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.round a:hover {
  border-bottom: none;
}
/* line 130, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.round span {
  color: #676767;
}
/* line 131, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.round span:hover {
  color: black;
}
/* line 134, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.special {
  margin-left: 0px;
  background: #3C92DD;
  margin-top: 0px;
  padding: 0px 20px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 15px;
}
/* line 142, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.special a {
  color: white;
  display: block;
}
/* line 143, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.special a:hover {
  border-bottom: none;
}
/* line 145, ../scss/src/partials/_base.scss */
section.navibar-wrapper .navibar li.special:hover {
  background: #337AB7;
}
/* line 148, ../scss/src/partials/_base.scss */
section.navibar-wrapper .nextPage {
  position: absolute;
  bottom: 130px;
  left: calc(50% - 10px);
  font-size: 70px;
}

/* line 156, ../scss/src/partials/_base.scss */
.subnavbar {
  z-index: -100;
}
/* line 160, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry {
  top: 200px;
  position: absolute;
  height: 200px;
  z-index: 1000;
  width: 100%;
}
/* line 166, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry .opaque {
  background: #CDCDCD;
  opacity: 0.95;
}
/* line 170, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry .opaque-text {
  padding: 0px 25px;
}
/* line 172, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry h5 {
  font: 12px "Montserrat" !important;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
}
/* line 173, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry a {
  z-index: 2000;
  display: inline-block;
}
/* line 177, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry a .submenu {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.4);
  margin: 10px;
  overflow: hidden;
}
/* line 185, ../scss/src/partials/_base.scss */
.subnavbar .subnavbar-entry a .submenu img {
  position: absolute;
  width: 100%;
}

/****** FOOTER ******/
/* line 196, ../scss/src/partials/_base.scss */
.footer {
  padding: 20px;
  background: #263586;
  color: white;
}
/* line 200, ../scss/src/partials/_base.scss */
.footer h3 {
  margin: 0px;
}
/* line 201, ../scss/src/partials/_base.scss */
.footer .social {
  position: absolute;
  top: 40px;
}
/* line 206, ../scss/src/partials/_base.scss */
.footer #mc_embed_signup {
  background: none !important;
}
/* line 209, ../scss/src/partials/_base.scss */
.footer #mc_embed_signup form {
  padding: 0px;
}

/* line 214, ../scss/src/partials/_base.scss */
.social a,
.social-ppia a {
  float: left;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  text-align: center;
  margin: 5px;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* line 228, ../scss/src/partials/_base.scss */
#web-icon:hover {
  color: white !important;
  border: 2px solid grey;
  background: grey;
}

/* line 233, ../scss/src/partials/_base.scss */
#fb-icon:hover {
  color: white !important;
  border: 2px solid #425E9C;
  background: #425E9C;
}

/* line 238, ../scss/src/partials/_base.scss */
#instagram-icon:hover {
  color: white !important;
  border: 2px solid #2D6991;
  background: #2D6991;
}

/* line 243, ../scss/src/partials/_base.scss */
#twitter-icon:hover {
  color: white !important;
  border: 2px solid #55ACEE;
  background: #55ACEE;
}

/* line 249, ../scss/src/partials/_base.scss */
#youtube-icon:hover {
  color: white !important;
  border: 2px solid #CC181E;
  background: #CC181E;
}

/* line 257, ../scss/src/partials/_base.scss */
.one_half {
  width: 48%;
}

/* line 258, ../scss/src/partials/_base.scss */
.one_third {
  width: 30.5%;
}

/* line 259, ../scss/src/partials/_base.scss */
.one_fourth {
  width: 22%;
}

/* line 260, ../scss/src/partials/_base.scss */
.one_fifth {
  width: 16.8%;
}

/* line 261, ../scss/src/partials/_base.scss */
.one_sixth {
  width: 13.33%;
}

/* line 262, ../scss/src/partials/_base.scss */
.two_fifth {
  width: 37.6%;
}

/* line 263, ../scss/src/partials/_base.scss */
.two_third {
  width: 65.33%;
}

/* line 264, ../scss/src/partials/_base.scss */
.three_fifth {
  width: 58.4%;
}

/* line 265, ../scss/src/partials/_base.scss */
.three_fourth {
  width: 74%;
}

/* line 266, ../scss/src/partials/_base.scss */
.four_fifth {
  width: 67.2%;
}

/* line 267, ../scss/src/partials/_base.scss */
.five_sixth {
  width: 82.67%;
}

/* line 268, ../scss/src/partials/_base.scss */
.one_eighth {
  width: 11.8%;
}

/* line 269, ../scss/src/partials/_base.scss */
.sevent_eighth {
  width: 84.2%;
}

/* line 283, ../scss/src/partials/_base.scss */
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.one_eighth,
.five_sixth,
.sevent_eighth {
  position: relative;
  margin-right: 4%;
  margin-bottom: 10px;
  float: left;
}

/* line 289, ../scss/src/partials/_base.scss */
.column-last {
  margin-right: 0 !important;
  clear: right;
}

/****** COLUMNS ******/
/* line 296, ../scss/src/partials/_base.scss */
.one_half-margin-20 {
  width: calc((100% - 10px)/2);
}

/* line 297, ../scss/src/partials/_base.scss */
.one_third-margin-20 {
  width: calc((100% - 20px)/3);
}

/* line 298, ../scss/src/partials/_base.scss */
.one_fourth-margin-20 {
  width: calc((100% - 30px)/4);
}

/* line 299, ../scss/src/partials/_base.scss */
.one_fifth-margin-20 {
  width: calc((100% - 40px)/5);
}

/* line 300, ../scss/src/partials/_base.scss */
.one_sixth-margin-20 {
  width: calc((100% - 50px)/6);
}

/* line 301, ../scss/src/partials/_base.scss */
.two_third-margin-20 {
  width: calc((((100% - 20px)/3) * 2) + 10px);
}

/* line 302, ../scss/src/partials/_base.scss */
.three_fourth-margin-20 {
  width: calc((((100% - 30px)/4) * 3) + 20px);
}

/* line 303, ../scss/src/partials/_base.scss */
.two_fifth-margin-20 {
  width: calc((((100% - 40px)/5) * 2) + 10px);
}

/* line 304, ../scss/src/partials/_base.scss */
.three_fifth-margin-20 {
  width: calc((((100% - 40px)/5) * 3) + 20px);
}

/* line 305, ../scss/src/partials/_base.scss */
.four_fifth-margin-20 {
  width: calc((((100% - 40px)/5) * 4) + 30px);
}

/* line 316, ../scss/src/partials/_base.scss */
.one_half-margin-20,
.one_third-margin-20,
.one_fourth-margin-20,
.one_sixth-margin-20,
.one_fifth-margin-20,
.three_fourth-margin-20,
.two_third-margin-20,
.two_fifth-margin-20,
.three_fifth-margin-20,
.four_fifth-margin-20 {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

/* line 323, ../scss/src/partials/_base.scss */
.one_half-margin-10 {
  width: calc((100% - 5px)/2);
}

/* line 324, ../scss/src/partials/_base.scss */
.one_fifth-margin-10 {
  width: calc((100% - 20px)/5);
}

/* line 327, ../scss/src/partials/_base.scss */
.one_half-margin-10,
.one_fifth-margin-10 {
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
  float: left;
}

/* line 333, ../scss/src/partials/_base.scss */
.one_half-no-margin {
  width: calc(100%/2);
}

/* line 334, ../scss/src/partials/_base.scss */
.one_third-no-margin {
  width: calc(100%/3);
}

/* line 335, ../scss/src/partials/_base.scss */
.two_third-no-margin {
  width: calc((100%/3) * 2);
}

/* line 336, ../scss/src/partials/_base.scss */
.one_fourth-no-margin {
  width: calc(100%/4);
}

/* line 337, ../scss/src/partials/_base.scss */
.one_fifth-no-margin {
  width: calc(100%/5);
}

/* line 338, ../scss/src/partials/_base.scss */
.two_fifth-no-margin {
  width: calc((100%/5) * 2);
}

/* line 339, ../scss/src/partials/_base.scss */
.three_fifth-no-margin {
  width: calc((100%/5) * 3);
}

/* line 348, ../scss/src/partials/_base.scss */
.one_half-no-margin,
.one_third-no-margin,
.two_third-no-margin,
.one_fourth-no-margin,
.two_fifth-no-margin,
.three_fifth-no-margin,
.one_fifth-no-margin {
  position: relative;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
}

/****** FORMS ******/
/* line 357, ../scss/src/partials/_base.scss */
input, textarea {
  padding: 10px;
  color: black;
  background: #dcdcdc;
  border: none;
  outline: none;
  resize: none;
}

/* line 365, ../scss/src/partials/_base.scss */
input[type="file"] {
  background: white;
}

/* line 369, ../scss/src/partials/_base.scss */
input[type="submit"] {
  background: #00adee;
  padding: 10px 50px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

/* line 377, ../scss/src/partials/_base.scss */
input[type="submit"]:hover {
  background: #0082b6;
}

/* line 382, ../scss/src/partials/_base.scss */
.btn-register {
  padding: 20px 50px;
  background: #8DC99B;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}
/* line 392, ../scss/src/partials/_base.scss */
.btn-register p {
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: 700;
  margin: 0px;
}

/* line 400, ../scss/src/partials/_base.scss */
.btn-register:hover {
  color: white;
  background: #76AA85;
  text-decoration: none;
}
