@import "partials/base.scss";

@-webkit-keyframes blink {
    0% 		{ opacity:1; }
    50%		{ opacity:0; }
    100% 	{ opacity:1; }
}
@-moz-keyframes blink {
    0% 		{ opacity:1; }
    50% 	{ opacity:0; }
    100%	{ opacity:1; }
}

h1 { text-align: center; }
p, li { 
	line-height: 1.8 !important;
}
h3 { margin: 0px 0px 10px 0px ; }

.able { margin: 30px 150px; }
.able img {
	width: 175px;
	margin-left: -20px;
}
.able-desc p {
	font-size: 18px;
}

.mission {
	padding-bottom: 30px;
	margin: 30px auto;
}

.flicker {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
	-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}