@import "partials/base";


section.uncomp {
	padding-top: 5%;
	height: 700px;
}
.navibar.uncomp { height: 100px; }
.navibar li.uncomp {
	margin: 0px 20px;
	font-size: 40px;
	line-height: 100px;
}
img#logo.uncomp  {
	width: 600px;
	height: auto;
}
#featured {
	position: relative;
	height: 500px;
	z-index: 0;
	overflow: hidden;

	.carousel-inner, .item { height: 100%; }
	//.carousel-caption { padding: 0px; }
	.item {
		img { position: absolute; }
		.carousel-caption {
			//position: absolute;
			
		}
	}
	img {
		width: 100%;
		z-index: -10;
	}

}


.when-where {
	
	padding: 50px 0px;
	background: url(../img/pattern/light.png);
	background-size: 100px 60px;
	background-repeat: repeat;
	color: #5c5c5c;

	.ion-ios-location { font-size: 190px; color: #263586; }

	.venue { margin-top: 20px; }
	.venue h2 {
		margin: 5px;
		font-size: 25px;
	}
}

.sponsors {
	//height: 300px;
}

.event-list {
	.event-entry {
		position: relative;
		padding: 100px 0px;
		background: white;
		height: 400px;
		overflow: hidden;
		margin-bottom: 0px;
		img { 
			position: absolute;
			width: 80%;
			left: 10%;
		}
		.opaque {
			position: absolute;
			transition: all 0.3s ease 0s;
			margin-top: -100px;
			color: white;
			padding-top: 100px !important;
			
			p { display: none; }
		}
	}

	.event-book {
		background: #000064;
		color: white;
		font: 25px "Open Sans";
		text-transform: uppercase;
		padding: 20px;
	}

	.event-book:hover {
		text-decoration: none;
		background: #3A4165;
	}

	.event-book.disabled, .event-book.disabled:hover {
		background: #909090;
		cursor: default;
	}

	.event-entry:hover {
		.opaque {
			background: rgba(0,0,100,0.95);
			display: inline;

			p { display: block; }
		}
	}
}

.platinum-sponsors, .gold-sponsors, .medpar {
	h2 {
		font: 50px "Open Sans";
		text-transform: uppercase;
		font-weight: 600;
		color: #515151;

	}
	ul {
		margin-top: 50px;
		li {
			width: 48%;
			display: inline-block;
			margin-bottom: 20px;

			img {
				width: 80%;
			}
		}
	}
}