@import "partials/base";


section.uncomp {
	padding-top: 5%;
	height: 700px;
}
.navibar.uncomp { height: 100px; }
.navibar li.uncomp {
	margin: 0px 20px;
	font-size: 40px;
	line-height: 100px;
}
img#logo.uncomp  {
	width: 600px;
	height: auto;
}
#featured {
	position: relative;
	height: 500px;
	z-index: 0;
	overflow: hidden;

	.carousel-inner, .item { height: 100%; }
	.carousel-caption { padding: 0px; }
	.item {
		img { position: absolute; }
		.carousel-caption {
			position: absolute;
		}
	}
	img {
		width: 100%;
		z-index: -10;
	}

}


.when-where {
	
	padding: 50px 0px;
	background: url(../img/pattern/light.png);
	background-size: 100px 60px;
	background-repeat: repeat;
	color: #5c5c5c;

	.ion-ios-location { font-size: 190px; color: #263586; }

	.venue { margin-top: 30px; }
	.venue h2 {
		margin: 5px;
	}
}

.sponsors {
	//height: 300px;
}
