/* FONTS */
@font-face {
	font-family: Ostrich-reg;
	src: url('../font/ostrich-regular.ttf') format('truetype');
}
@font-face {
	font-family: Ostrich-bold;
	src: url('../font/ostrich-bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: Ostrich-black;
	src: url('../font/ostrich-black.ttf') format('truetype');
	font-weight: black;
}
@font-face {
	font-family: Roboto-Lt;
	src: url('../font/Roboto-Light.ttf') format('truetype');
	font-weight: regular;
}

/****** COLORS  ******/

$darkblue: #273487;
$medblue: #00ADEE;
$lightblue: #B9E5F9;
$lightgreen: #98D0AB;
$lightyellow: #FDD4A0;
$lightred: #F27678;



/****** GENERAL ******/


body { position: relative; }
h1, h2, h3, h4, h5, h6 { font-family: Ostrich-black; }
p, input, label, textarea, li { font: 17px Roboto-Lt; }

h1 {
	font: 50px Ostrich-bold;
	color: $darkblue;
}

.clear { clear: both; }

// Width sizes
.full-width, .normal-width, .small-width, .smallest-width {
	margin-left: auto;
	margin-right: auto;
}

.full-width 	{ width: 100%; }
.normal-width 	{ width: 980px; }
.small-width 	{ width: 800px; }
.smallest-width { width: 600px; }

.opaque {
	z-index: 0;
	position: absolute;
	opacity: 0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
  	filter: alpha(opacity=70); // IE 5-7
	width: 100%;
	height: 100%;
}

.opaque-text { 
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 100%;
}

.content-container { padding: 50px 0px; }


/****** NAVIGARION BAR ******/

section {
	position: relative;
	background: url(../img/pattern/light.png);
	background-size: 100px 60px;
	background-repeat: repeat;
	height: 200px;
	padding-top: 10px;

	img#logo {
		margin-top: 1%;
		width: auto;
		height: 100px;
	}

	.navibar {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 50px;
		background: white;
		border-top: 3px solid $darkblue;
		border-bottom: 3px solid $darkblue;
		margin-bottom: 0px;

		li {
			display: inline-block;
			font-family: Ostrich-black;
			//font-family: Ostrich-reg;
			//font-weight: bold;
			//height: 50px;
			vertical-align: middle;
			margin: 0px 30px;
			font-size: 20px;
			line-height: 45px !important;
			
			a:hover {
				color: #337AB7;
				text-decoration: none;
				border-bottom: 5px solid #808080;
			}
			a.active {
				border-bottom: 5px solid #808080;
			}
		}
		li.round {
			margin: 0px 10px;
			a:hover 	{ border-bottom: none; }
			span 		{ color: #676767; }
			span:hover 	{ color: black; }
		}
	}

	.nextPage {
		position: absolute;
		bottom: 130px;
		left: calc(50% - 10px);
		font-size: 70px;
	}
}

.subnavbar {
	
	z-index: -100;

	.subnavbar-entry {
		top: 200px;
		position: absolute;
		height: 200px;
		z-index: 1000;
		width: 100%;
		.opaque {
			background: white;
			opacity: 0.9;
		}
		.opaque-text { padding: 0px 25px; }
		a {
			z-index: 2000;
			display: inline-block;

			.submenu {
				position: relative;
				height: 150px;
				width: 150px;
				border-radius: 75px;
				background: #dedede;
				margin: 10px;
				overflow: hidden;
				img {
					position: absolute;
					width: 100%;
				}
			}
		}
	}
}

/****** FOOTER ******/

.footer {
	padding: 20px;
	background: #263586;
	color: white;
	h3 { margin: 0px; }
	.social {
		position: absolute;
		top: 40px;
	}

	#mc_embed_signup {
		background: none !important;
		
		form { padding: 0px; }
	}
}

.social a,
.social-ppia a { 
	float: left;
	padding: 10px;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	text-align: center;
	margin: 5px;
	border-radius: 30px;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

#web-icon:hover {
	color: white !important;
	border: 2px solid grey;
	background: grey;
}
#fb-icon:hover {
	color: white !important;
	border: 2px solid #425E9C;
	background: #425E9C;
}
#instagram-icon:hover {
	color: white !important;
	border: 2px solid #2D6991;
	background: #2D6991;
}
#twitter-icon:hover {
	color: white !important;
	border: 2px solid #55ACEE;
	background: #55ACEE;
}

#youtube-icon:hover {
	color: white !important;
	border: 2px solid #CC181E;
	background: #CC181E;
}



.one_half { width: 48%; }
.one_third { width: 30.5%; }
.one_fourth { width: 22%; }
.one_fifth { width: 16.8%; }
.one_sixth { width: 13.33%; }
.two_fifth { width: 37.6%; }
.two_third { width: 65.33%; }
.three_fifth { width: 58.4%; }
.three_fourth { width: 74%; }
.four_fifth { width: 67.2%; }
.five_sixth { width: 82.67%; }
.one_eighth { width: 11.8%; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.one_eighth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 10px;
	float: left;
}
.column-last {
	margin-right: 0!important;
	clear: right;
}

/****** COLUMNS ******/

.one_half-margin-20 { width: calc((100% - 10px)/2); }
.one_third-margin-20 { width: calc((100% - 20px)/3); }
.one_fourth-margin-20 { width: calc((100% - 30px)/4); }
.one_fifth-margin-20 { width: calc((100% - 40px)/5); }
.one_sixth-margin-20 { width: calc((100% - 50px)/6); }
.two_third-margin-20 { width: calc( (((100% - 20px)/3) * 2) + 10px); }
.three_fourth-margin-20 { width: calc((((100% - 30px)/4) * 3) + 20px); }
.two_fifth-margin-20 { width: calc((((100% - 40px)/5) * 2) + 10px); }
.three_fifth-margin-20 { width: calc((((100% - 40px)/5) * 3) + 20px); }
.four_fifth-margin-20 { width: calc((((100% - 40px)/5) * 4) + 30px); }

.one_half-margin-20,
.one_third-margin-20,
.one_fourth-margin-20,
.one_sixth-margin-20,
.one_fifth-margin-20,
.three_fourth-margin-20,
.two_third-margin-20,
.two_fifth-margin-20,
.three_fifth-margin-20,
.four_fifth-margin-20 {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.one_half-margin-10 { width: calc((100% - 5px)/2); }
.one_fifth-margin-10 { width: calc((100% - 20px)/5); }

.one_half-margin-10,
.one_fifth-margin-10 {
	position: relative;
	margin-right: 5px;
	margin-bottom: 10px;
	float: left;
}
.one_half-no-margin { width: calc(100%/2); }
.one_third-no-margin { width: calc(100%/3); }
.two_third-no-margin { width: calc((100%/3) * 2); }
.one_fourth-no-margin { width: calc(100%/4); }
.one_fifth-no-margin { width: calc(100%/5); }
.two_fifth-no-margin { width: calc((100%/5) * 2); }
.three_fifth-no-margin { width: calc((100%/5) * 3); }


.one_half-no-margin,
.one_third-no-margin,
.two_third-no-margin,
.one_fourth-no-margin,
.two_fifth-no-margin,
.three_fifth-no-margin,
.one_fifth-no-margin {
	position: relative;
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
}

/****** FORMS ******/

input, textarea {
	padding: 10px;
	color: black;
	background: #dcdcdc;
	border: none;
	outline: none;
	resize: none;
}
input[type="file"] {
	background: white;
}

input[type="submit"] {
	background: $medblue;
	padding: 10px 50px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

input[type="submit"]:hover {
	background: #0082b6;
}